[Desktop Entry]
Type=Application
Exec=helloworld %u
Icon=application-x-executable
Terminal=false
Name=helloworld
GenericName=helloworld
Comment=Hello World
Categories=Qt;KDE;